# Make vim the default editor
export EDITOR="emacs"

# Pager for man and git
if [[ $EMACS == "t" ]]; then
    export MANPAGER="cat"       #less doesn't work well
    export GIT_PAGER="cat"      #less doesn't work well
else
    export MANPAGER="less -X"   #don't clear screen after quitting
fi

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"
